<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head'); %>
		<nav>
			<div class="imageheader">
				<a href="/profile" title="Perfil">
					<img src="/img/Logo_Mysky_Javi.png" alt="Perfil" width="120" height="80">
				</a>
			</div>
			<form action="/logout" method="GET">
				<div class="logout">
					<div style="text-align:center;">
						<input type="submit" value="Inicio" class="button">
					</div>
				</div>
			</form>
			<div class="texto">ERROR</div>
			<title>Error</title>
		</nav>
</head>

<body class="body">

	<div class="descripcion">
		<h1 class="texto">404</h1>
	</div>
	<div class="volver">
		<div style="text-align:center;">
			<a href="/profile" class="button">Volver</a>
		</div>
	</div><br><br><br><br><br><br><br><br><br><br><br><br>
	<footer>
		<p>Copyright &copy;2021 | Propiedad de Jacobo Pedrero Dugnol</a></p>
	</footer>
</body>

</html>