<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head'); %>
		<nav>
			<div class="imageheader">
				<a href="/" title="Inicio">
					<img src="/img/Logo_Mysky_Javi.png" alt="Inicio" width="120" height="80">
				</a>
			</div>
			<div class="logout">
				<div style="text-align:center;">
					<a href="/info" class="button">Acerca de MySky</a>
				</div>
			</div>
			<div class="texto">¡Bienvenido a My Sky!</div>
			<title>My Sky</title>
		</nav>
</head>

<body class="body"><br><br>
	<div class="descripcion">
		<p>En My Sky podrás guardar todos tus archivos
			de forma gratuita y segura.</p><br><br><br>
			<a href="/login" class="button">
				<span class="fa fa-user">Iniciar sesion</span>
			</a><br><br><br>
			<a href="/signup" class="button">
				<span class="fa fa-user">Registrarse</span>
			</a>
	</div><br><br><br><br><br><br><br><br><br><br><br><br>
	<footer>
		<p class="text-center text-muted">Copyright &copy;2021 | Propiedad de Jacobo Pedrero Dugnol</a></p>
	</footer>
</body>

</html>