<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('partials/head'); %>
		<nav>
				<div class="imageheader">
					<a href="/" title="Inicio">
						<img src="/img/Logo_Mysky_Javi.png" alt="Inicio" width="120" height="80">
					</a>
				</div>
				<div class="logout">
					<div style="text-align:center;">
						<a href="/" class="button">Volver</a>
					</div>
				</div>
				<div class="texto">Acerca de My Sky</div>
			<title>Acerca de</title>
		</nav>
</head>

<body class="body">
	<div class="descripcion"><br><br><br>
		<p>
			Hoy en día, siempre llevamos encima un aparato electrónico ya sea un smartphone, una tablet o un
			ordenador portátil y llevar mucha documentación en nuestros equipos puede ser muy tedioso a la hora de
			organizarla y poder administrar mejor el espacio físico de nuestro dispositivo, ya sea por la cantidad
			de fotos que hacemos, de videos o simplemente documentos que almacenamos en nuestro ordenador o tablet.

			MySky da solución a todos estos problemas. MySky es un servidor remoto y de uso personal donde puedes
			guardar tus datos personales, tales como fotos, vídeos, música y cualquier tipo de documento de forma
			segura en cualquier momento desde tu smartphone, Tablet u ordenador.

			MySky te permite ahorrar espacio en la memoria física del dispositivo. Podrás subir cualquier tipo de
			archivo al servidor y de esta manera, poder borrar de forma segura el archivo de tu dispositivo. ¡Estés
			donde estés! De esta manera, podrás consultar tus archivos guardados en el servidor.
		</p>
	</div><br><br><br><br><br><br><br><br><br>
	<footer>
		<p>Copyright &copy;2021 | Propiedad de Jacobo Pedrero Dugnol</a></p>
	</footer>
</body>

</html>